.background {
    background-color: #87CEFA;
    width: 1920px;
    height: 1080px;
  }
  
  h1 {
    color: orange;
    font-family: arial;
    font-size: 55px;
  }
  
  .dark-magician {
    width: 200px;
    height: 260px;
  }
  
  .blue-eyes {
    width: 200px;
    height: 260px;
  }
  
  .red-eyes {
    width: 200px;
    height: 260px;
  }
